# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
.env.*

# Python egg and distribution folders
*.egg-info/
dist/
build/

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
